<section class="row">
    <div class="small-12 column">
        <form>
            <div class="row">
                <div class="small-12 columns">
                    <select>
                        <option value="">Is this grammatically correct</option>
                    </select>
                </div>
                <div class="small-1 columns">
                    <label class="right inline">
                        in
                    </label>
                </div>
                <div class="small-6 columns">
                    <select>
                        <option>English</option>
                    </select>
                </div>
                <div class="small-5 columns">
                    <label class="left inline">?</label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <textarea placeholder="Type a sentence here."></textarea>
                </div>
            </div>
        </form>
    </div>
</section>

