
  <div class="row">
      <section class="small-12 columns">
          <h1>{{title}}</h1>
          <p>Solve your language questions quickly!</p>
          <a href="/ask" class="button">Start here</a>
      </section>
  </div>

