# WebStorm
.idea/

# compiled web output
tmp/
public/

# dependencies
bower_components/
node_modules/

# misc
/.sass-cache
connect.lock
coverage/*
libpeerconnection.log
npm-debug.log
testem.log

#hacks
/web-ui/serve

# Runtime data
pids
*.pid
*.seed

# Logs
logs
*.log

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release


